<link rel="stylesheet" href="/IndexEbook/view-resources/Views/Shared/Components/HeaderBottomV1/style.css">
<footer>
    <div class="container" bis_skin_checked="1">
        <div class="footer-content" bis_skin_checked="1">
            <!-- Giới thiệu -->
            <div class="footer-section" bis_skin_checked="1">
                <h3>EBOOK</h3>
                <p>
                    STTECH EBOOK - Nền tảng thư viện số hàng đầu Việt Nam,
                    giải pháp công nghệ kết nối sức mạnh giáo viên, kiến tạo kho tri thức Việt.
                </p>
                <div class="social-icons" bis_skin_checked="1">
                    <a><i class="fab fa-facebook"></i></a>
                    <a><i class="fab fa-twitter"></i></a>
                    <a><i class="fab fa-google-plus-g"></i></a>
                    <a><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <!-- Menu -->
            <div class="footer-section" bis_skin_checked="1">
                <h4>Menu</h4>
                <ul>
                            <li>
                                <a href="/IndexEbook/Index/Trangchu.html">Trang chủ</a>
                            </li>
                            <li>
                                <a href="/IndexEbook/Index/Gioithieu.html">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="/ebook">Ebook</a>
                            </li>
                            <li>
                                <a href="https://drive.google.com/file/d/13GLhbuMMifNufzxedS5f_t1rM0M99DA7/view?usp=sharing">Hướng dẫn</a>
                            </li>
                            <li>
                                <a href="/IndexEbook/Index/Lienhe.html">Liên hệ</a>
                            </li>
                </ul>
            </div>

            <!-- EbookCategory -->
            <div class="footer-section" bis_skin_checked="1">
                <h4>Danh mục</h4>
                <ul>
                            <li>
                                <a href="/ebook/the-loai/1">Tiểu thuyết</a>
                            </li>
                            <li>
                                <a href="/ebook/the-loai/2">Truyện và thơ ca dân gian</a>
                            </li>
                            <li>
                                <a href="/ebook/the-loai/3">Tự truyện - Hồi ký</a>
                            </li>
                            <li>
                                <a href="/ebook/the-loai/4">Truyện ngắn - Tản văn</a>
                            </li>
                            <li>
                                <a href="/ebook/the-loai/5">Truyện thiếu nhi</a>
                            </li>
                            <li>
                                <a href="/ebook/the-loai/6">Truyện trinh thám - Vụ án</a>
                            </li>
                            <li>
                                <a href="/ebook/the-loai/7">Phóng sự</a>
                            </li>
                            <li>
                                <a href="/ebook/the-loai/8">Phê bình văn học</a>
                            </li>
                            <li>
                                <a href="/ebook/the-loai/9">Truyện tranh</a>
                            </li>
                            <li>
                                <a href="/ebook/the-loai/10">Mỹ thuật - Âm nhạc</a>
                            </li>
                </ul>
            </div>

            <!-- Thông tin liên hệ -->
            <div class="footer-section" bis_skin_checked="1">
                <h4>Thông tin liên hệ</h4>

                    <div class="footer-contact-item" bis_skin_checked="1">
                        <i class="fa fa-location-dot"></i>
                        Khu phần mềm Đại học Quốc Gia TP.HCM, Phường Linh Xuân, TP.HCM
                    </div>
                    <div class="footer-contact-item" bis_skin_checked="1">
                        <i class="fa fa-envelope"></i> cskh.sttech@gmail.com
                    </div>
                    <div class="footer-contact-item" bis_skin_checked="1">
                        <i class="fa fa-phone"></i> 0349 134 565
                    </div>
            </div>
        </div>

        <!-- Footer bottom -->
        <div class="footer-bottom" bis_skin_checked="1">
                <p>© 2025 <a href="https://sttech.vn">STTECH</a>. Tất cả các quyền được bảo lưu.</p>
        </div>
    </div>
</footer>