<link rel="stylesheet" href="/IndexEbook/view-resources/Views/Shared/Components/HeaderContact/style.css">
<nav class="header-bottom-v1">
    <div class="container" bis_skin_checked="1">
        <ul class="nav-menu">
<li class="menu-item ">
                            <a href="/IndexEbook/Index/Trangchu.html">EBOOK</a>
                        </li>
                        <li class="menu-item ">
                            <a href="/loginebook/account/login.html">Quản Lý Thư Viện</a>
                        </li>
                        <li class="menu-item ">
                            <a href="/loginebook/account/login.html">Đánh Giá Thư Viện Đạt chuẩn</a>
                        </li>
                        
                        <li class="menu-item ">
                            <a href="https://drive.google.com/file/d/13GLhbuMMifNufzxedS5f_t1rM0M99DA7/view?usp=sharing">Hướng dẫn</a>
                        </li>
                        <li class="menu-item ">
                            <a href="/IndexEbook/Index/Lienhe.html">Liên hệ</a>
                        </li>

        </ul>
    </div>
    </nav>